{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<p>Bienvenue sur notre site web</p>

	{% if app.user %}
		<p>
			<a href="{{ path('app_logout')}}">Se déconnecter</a>
			<a href="{{ path('app_edit_article') }}">editer un article</a>
		</p>
	{% else %}
		<p>
			<a href="{{ path('app_register') }}">Créer un compte</a>
		</p>
		<p>
			<a href="{{ path('app_login')}}">Se connecter</a>
		</p>
	{% endif %}


{% endblock %}
